* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 47px 0 178px 42px ;

}

.link-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    margin-right: 32px;
    text-align: center;
    letter-spacing: 0.875px;
}

.button-header{
    width: 124px;
    height: 51px ;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    letter-spacing: 1px;
    cursor: pointer;
}

img{
    margin-left: 121px;
    margin-top: 80px;
    display: inline-block;
}

section{
    display: inline-block;
}

h1{
    font-weight: 700;
    font-size: 62px;
    color:#161A49;
    line-height: 82px;
    width: 582px;
    margin-left: 84.82px;
}

p{
    font-weight: 400;
    font-size: 18px;
    color: #4B505A;
    line-height: 33px;
    width: 493px;
    margin-top: 30px;
    margin-left: 84.82px;
}

.button-main{
    background:#FFFFFF;
    font-weight: 500;
    font-size: 18px;
    color: #6FBF44;
    border: none;
    margin-top: 55px;
    margin-left: 84.82px;
    cursor: pointer;
}

@media screen and (max-width:650px){

    img{
        max-width: 100%;
        height: auto;
        margin: auto;
    }
    
    header{
        display: none;
    }

    section{
        display: block;
    }

    h1{
        width: auto;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        margin: 0px 55px 57px 29px;
    
    }
}